---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/users/rwjblue/starred
        method: GET
      response:
        body: "[{\"starred_at\":\"2025-04-06T23:53:11Z\",\"repo\":{\"id\":47974873,\"node_id\":\"MDEwOlJlcG9zaXRvcnk0Nzk3NDg3Mw==\",\"name\":\"go-vcr\",\"full_name\":\"dnaeon/go-vcr\",\"private\":false,\"owner\":{\"login\":\"dnaeon\",\"id\":242827,\"node_id\":\"MDQ6VXNlcjI0MjgyNw==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/242827?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/dnaeon\",\"html_url\":\"https://github.com/dnaeon\",\"followers_url\":\"https://api.github.com/users/dnaeon/followers\",\"following_url\":\"https://api.github.com/users/dnaeon/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/dnaeon/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/dnaeon/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/dnaeon/subscriptions\",\"organizations_url\":\"https://api.github.com/users/dnaeon/orgs\",\"repos_url\":\"https://api.github.com/users/dnaeon/repos\",\"events_url\":\"https://api.github.com/users/dnaeon/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/dnaeon/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"html_url\":\"https://github.com/dnaeon/go-vcr\",\"description\":\"Record and replay your HTTP interactions for fast, deterministic and accurate tests\",\"fork\":false,\"url\":\"https://api.github.com/repos/dnaeon/go-vcr\",\"forks_url\":\"https://api.github.com/repos/dnaeon/go-vcr/forks\",\"keys_url\":\"https://api.github.com/repos/dnaeon/go-vcr/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/dnaeon/go-vcr/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/dnaeon/go-vcr/teams\",\"hooks_url\":\"https://api.github.com/repos/dnaeon/go-vcr/hooks\",\"issue_events_url\":\"https://api.github.com/repos/dnaeon/go-vcr/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/dnaeon/go-vcr/events\",\"assignees_url\":\"https://api.github.com/repos/dnaeon/go-vcr/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/dnaeon/go-vcr/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/dnaeon/go-vcr/tags\",\"blobs_url\":\"https://api.github.com/repos/dnaeon/go-vcr/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/dnaeon/go-vcr/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/dnaeon/go-vcr/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/dnaeon/go-vcr/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/dnaeon/go-vcr/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/dnaeon/go-vcr/languages\",\"stargazers_url\":\"https://api.github.com/repos/dnaeon/go-vcr/stargazers\",\"contributors_url\":\"https://api.github.com/repos/dnaeon/go-vcr/contributors\",\"subscribers_url\":\"https://api.github.com/repos/dnaeon/go-vcr/subscribers\",\"subscription_url\":\"https://api.github.com/repos/dnaeon/go-vcr/subscription\",\"commits_url\":\"https://api.github.com/repos/dnaeon/go-vcr/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/dnaeon/go-vcr/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/dnaeon/go-vcr/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/dnaeon/go-vcr/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/dnaeon/go-vcr/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/dnaeon/go-vcr/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/dnaeon/go-vcr/merges\",\"archive_url\":\"https://api.github.com/repos/dnaeon/go-vcr/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/dnaeon/go-vcr/downloads\",\"issues_url\":\"https://api.github.com/repos/dnaeon/go-vcr/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/dnaeon/go-vcr/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/dnaeon/go-vcr/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/dnaeon/go-vcr/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/dnaeon/go-vcr/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/dnaeon/go-vcr/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/dnaeon/go-vcr/deployments\",\"created_at\":\"2015-12-14T12:52:17Z\",\"updated_at\":\"2025-04-06T23:53:11Z\",\"pushed_at\":\"2025-03-23T17:53:44Z\",\"git_url\":\"git://github.com/dnaeon/go-vcr.git\",\"ssh_url\":\"git@github.com:dnaeon/go-vcr.git\",\"clone_url\":\"https://github.com/dnaeon/go-vcr.git\",\"svn_url\":\"https://github.com/dnaeon/go-vcr\",\"homepage\":null,\"size\":590,\"stargazers_count\":1297,\"watchers_count\":1297,\"language\":\"Go\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"has_discussions\":true,\"forks_count\":78,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":3,\"license\":{\"key\":\"bsd-2-clause\",\"name\":\"BSD 2-Clause \\\"Simplified\\\" License\",\"spdx_id\":\"BSD-2-Clause\",\"url\":\"https://api.github.com/licenses/bsd-2-clause\",\"node_id\":\"MDc6TGljZW5zZTQ=\"},\"allow_forking\":true,\"is_template\":false,\"web_commit_signoff_required\":false,\"topics\":[],\"visibility\":\"public\",\"forks\":78,\"open_issues\":3,\"watchers\":1297,\"default_branch\":\"v4\"}},{\"starred_at\":\"2025-04-06T23:46:13Z\",\"repo\":{\"id\":388007565,\"node_id\":\"MDEwOlJlcG9zaXRvcnkzODgwMDc1NjU=\",\"name\":\"go-github-mock\",\"full_name\":\"migueleliasweb/go-github-mock\",\"private\":false,\"owner\":{\"login\":\"migueleliasweb\",\"id\":1608212,\"node_id\":\"MDQ6VXNlcjE2MDgyMTI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/1608212?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/migueleliasweb\",\"html_url\":\"https://github.com/miguel[...]
