---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/users/rwjblue/starred?direction=asc&page=1&sort=created
        method: GET
      response:
        body: '[{"starred_at":"2008-06-05T00:59:00Z","repo":{"id":27,"node_id":"MDEwOlJlcG9zaXRvcnkyNw==","name":"rubinius","full_name":"rubinius/rubinius","private":false,"owner":{"login":"rubinius","id":317747,"node_id":"MDEyOk9yZ2FuaXphdGlvbjMxNzc0Nw==","avatar_url":"https://avatars.githubusercontent.com/u/317747?v=4","gravatar_id":"","url":"https://api.github.com/users/rubinius","html_url":"https://github.com/rubinius","followers_url":"https://api.github.com/users/rubinius/followers","following_url":"https://api.github.com/users/rubinius/following{/other_user}","gists_url":"https://api.github.com/users/rubinius/gists{/gist_id}","starred_url":"https://api.github.com/users/rubinius/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rubinius/subscriptions","organizations_url":"https://api.github.com/users/rubinius/orgs","repos_url":"https://api.github.com/users/rubinius/repos","events_url":"https://api.github.com/users/rubinius/events{/privacy}","received_events_url":"https://api.github.com/users/rubinius/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/rubinius/rubinius","description":"The Rubinius Language Platform","fork":false,"url":"https://api.github.com/repos/rubinius/rubinius","forks_url":"https://api.github.com/repos/rubinius/rubinius/forks","keys_url":"https://api.github.com/repos/rubinius/rubinius/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rubinius/rubinius/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rubinius/rubinius/teams","hooks_url":"https://api.github.com/repos/rubinius/rubinius/hooks","issue_events_url":"https://api.github.com/repos/rubinius/rubinius/issues/events{/number}","events_url":"https://api.github.com/repos/rubinius/rubinius/events","assignees_url":"https://api.github.com/repos/rubinius/rubinius/assignees{/user}","branches_url":"https://api.github.com/repos/rubinius/rubinius/branches{/branch}","tags_url":"https://api.github.com/repos/rubinius/rubinius/tags","blobs_url":"https://api.github.com/repos/rubinius/rubinius/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rubinius/rubinius/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rubinius/rubinius/git/refs{/sha}","trees_url":"https://api.github.com/repos/rubinius/rubinius/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rubinius/rubinius/statuses/{sha}","languages_url":"https://api.github.com/repos/rubinius/rubinius/languages","stargazers_url":"https://api.github.com/repos/rubinius/rubinius/stargazers","contributors_url":"https://api.github.com/repos/rubinius/rubinius/contributors","subscribers_url":"https://api.github.com/repos/rubinius/rubinius/subscribers","subscription_url":"https://api.github.com/repos/rubinius/rubinius/subscription","commits_url":"https://api.github.com/repos/rubinius/rubinius/commits{/sha}","git_commits_url":"https://api.github.com/repos/rubinius/rubinius/git/commits{/sha}","comments_url":"https://api.github.com/repos/rubinius/rubinius/comments{/number}","issue_comment_url":"https://api.github.com/repos/rubinius/rubinius/issues/comments{/number}","contents_url":"https://api.github.com/repos/rubinius/rubinius/contents/{+path}","compare_url":"https://api.github.com/repos/rubinius/rubinius/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rubinius/rubinius/merges","archive_url":"https://api.github.com/repos/rubinius/rubinius/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rubinius/rubinius/downloads","issues_url":"https://api.github.com/repos/rubinius/rubinius/issues{/number}","pulls_url":"https://api.github.com/repos/rubinius/rubinius/pulls{/number}","milestones_url":"https://api.github.com/repos/rubinius/rubinius/milestones{/number}","notifications_url":"https://api.github.com/repos/rubinius/rubinius/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rubinius/rubinius/labels{/name}","releases_url":"https://api.github.com/repos/rubinius/rubinius/releases{/id}","deployments_url":"https://api.github.com/repos/rubinius/rubinius/deployments","created_at":"2008-01-12T16:46:52Z","updated_at":"2025-04-04T10:10:41Z","pushed_at":"2023-05-09T19:49:03Z","git_url":"git://github.com/rubinius/rubinius.git","ssh_url":"git@github.com:rubinius/rubinius.git","clone_url":"https://github.com/rubinius/rubinius.git","svn_url":"https://github.com/rubinius/rubinius","homepage":"https://rubinius.com","size":168069,"stargazers_count":3073,"watchers_count":3073,"language":"C","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":604,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":15,"license":{"key":"mpl-2.0","name":"Mozilla Public License 2.0","spdx_id":"MPL-2.0","url":"https://api.github.com/licenses/mpl-2.0","node_id":"MDc6TGljZW5zZTE0"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["programming-languages","rubinius","virtual-machine"],"visibility":"public","forks":604,"open_issues":15,"watchers":3073,"default_branch":"master"}},{"starred_at":"2008-06-05T00:59:00Z","repo":{"id":42,"node_id":"MDEwOlJlcG9zaXRvcnk0Mg==","name":"restful-authentication","full_name":"technoweenie/restful-authentication","private":false,"owner":{"login":"technoweenie","id":21,"node_id":"MDQ6VXNlcjIx","avatar_url":"https://avatars.githubusercontent.com/u/21?v=4","gravatar_id":"","url":"https://api.github.com/users/technoweenie","html_url":"https://github.com/technoweenie","followers_url":"https://api.github.com/users/technoweenie/fol[...]
[...]
